<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <contextName>jcs3-slf4j</contextName>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>build/test-logs/test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="file"/>
    </root>
</configuration>